services:
  city-service:
    build:
      context: ./city-service
      dockerfile: Dockerfile
    container_name: soa-city-service-wildfly
    ports:
      - "8080:8080"    # Приклад
      - "9990:9990"    # Консоль WildFly
      - "8787:8787"    # Порт для дебага
    environment:
      - DB_URL=jdbc:postgresql://postgres:5432/postgres
      - DB_USER=postgres
      - DB_PASSWORD=postgres
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/actuator/health" ]
      interval: 30s      # Интервал между хелфчеками
      timeout: 10s       # Максимальное время ожидания ответа от команды проверки
      retries: 3         # Количество повторов, перед тем как посчитать контейнер мертвым
      start_period: 120s # Время на запуск
    networks:
      - app-network

  genocide-service:
    build:
      context: ./genocide-service
      dockerfile: Dockerfile
    container_name: soa-genocide-service-jetty
    ports:
      - "8081:8080"
    environment:
      - CITY_SERVICE_URL=http://city-service:8080/
    depends_on:
      city-service:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    networks:
      - app-network

  postgres:
    image: postgres:latest
    container_name: soa-postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_MAX_CONNECTIONS=200
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  swagger-ui:
    image: swaggerapi/swagger-ui:latest
    container_name: swagger-ui
    ports:
      - "8083:8080"
    environment:
      - SWAGGER_JSON=/openapi.yml
    volumes:
      - ./openapi.yml:/openapi.yml:ro
    restart: unless-stopped

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge