server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: genocide-service

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,info

city-service:
  base-url: ${CITY_SERVICE_URL:http://localhost:8080/}