server:
  port: ${SERVER_PORT:8080}
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: on_param
    include-exception: true

spring:
  application:
    name: city-service

  jmx:
    enabled: false

  datasource:
     url: ${DB_URL:jdbc:postgresql://localhost:5432/postgres}
     username: ${DB_USER:postgres}
     password: ${DB_PASSWORD:postgres}
     driver-class-name: org.postgresql.Driver
     type: com.zaxxer.hikari.HikariDataSource

     hikari:
       connection-timeout: 30000
       maximum-pool-size: 10
       minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,info